In [1]:
#import des bibliothèques utiles
import psycopg2
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [2]:
#connexion a la base de données postgres sql
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="db_match",
    user="postgres",
    password="Chidra10"
)
cur = conn.cursor()
query = "SELECT * FROM mytable"

In [3]:
#lecture des données depuis la base de données postgresql
df = pd.read_sql(query, conn)
df

C:\Users\HPPAVI~1\AppData\Local\Temp/ipykernel_22744/939575259.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,30/11/1872,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,08/03/1873,England,Scotland,4,2,Friendly,London,England,False
2,07/03/1874,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,06/03/1875,England,Scotland,2,2,Friendly,London,England,False
4,04/03/1876,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
40834,18/07/2019,American Samoa,Tahiti,8,1,Pacific Games,Apia,Samoa,True
40835,18/07/2019,Fiji,Solomon Islands,4,4,Pacific Games,Apia,Samoa,True
40836,19/07/2019,Senegal,Algeria,0,1,African Cup of Nations,Cairo,Egypt,True
40837,19/07/2019,Tajikistan,North Korea,0,1,Intercontinental Cup,Ahmedabad,India,True
40838,20/07/2019,Papua New Guinea,Fiji,1,1,Pacific Games,Apia,Samoa,True

In [4]:
df = df.drop(['date','city','country','neutral'],axis =1)

In [5]:
print(df.isnull().sum())

home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
dtype: int64

In [16]:
print(df.isnull().any())

home_team     False
away_team     False
home_score    False
away_score    False
tournament    False
dtype: bool

In [17]:
#repartition des données 20% test et 80% entraineement
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [ ]:
#split des données d'entrainement
X_trainh = train_df.drop(['home_score'],axis = 1)
X_trainw = train_df.drop(['away_score'],axis = 1)
Y_train1 = train_df['home_score']
Y_train2 = train_df['away_score']
Y_train2
# Test set
X_testh = test_df.drop(['home_score'], axis=1)
X_testw = test_df.drop([ 'away_score'], axis=1)

y_test1 = test_df['home_score']
y_test2 = test_df['away_score']

In [ ]:
#pretraitement des colonnes catégorielles
X_train_encoded = pd.get_dummies(X_train,columns=['home_team','away_team','tournament',])
X_test_encoded = pd.get_dummies(X_test,columns=['home_team','away_team','tournament'])

In [ ]:
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='outer', axis=1)

In [ ]:

print(X_train_encoded.isnull().sum())

In [ ]:
import numpy as np

print(np.isinf(X_train_encoded).sum())

In [ ]:
model_home = LinearRegression()
model_home.fit(X_train_encoded,Y_train1)

In [ ]:
model_home.predict(X_test_encoded)